/* media query */
/* 1200px /16 =75em */
@media (max-width: 75em) {
    html {
        font-size: 56.25%;
    }
}
/* 1100px */
@media (max-width: 68em) {
    html {
        font-size: 50%;
    }
}
/* 950 */
@media (max-width: 68em) {
    html {
        font-size: 50%;
    }
}
/* 700 */
@media (max-width: 44em) {
    html {
        font-size: 42%;
        overflow-x: hidden;
    }
    body {
        overflow-x: hidden;
    }
    .btn-mobile-nav {
        display: block;
    }
    .icon-mobile-nav {
        font-size: 5.6rem;
    }
    .header {
        position: relative;
        color: #333;
    }
    .main-nav {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.97);
        color: #333;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transition: 0.3s all ease-in-out;
        transform: translateX(100%);
        z-index: 99999;
    }
    .nav-open .main-nav {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0);
    }
    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }
    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }
    .main-nav-list {
        display: flex;
        flex-direction: column;
        gap: 6.8rem;
    }
    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: 3.8rem;
        color: #333;
    }
    /* footer */
    .footer-container {
        grid-template-columns: repeat(6, 1fr);
        gap: 3.6rem;
        padding: 5rem 2rem;
    }
    .address-col {
        grid-column: span 3;
    }
    .logo-col {
        grid-column: span 3;
    }
    .nav-col {
        grid-column: span 2;
        margin-top: 3rem;
    }
    .portfolio-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 550 */
@media (max-width: 34em) {
    /* html {
        font-size: 31%;
    } */
    /* testimonial */
    .testimonial {
        width: 95%;
    }
    .slider__btn {
        display: none;
    }
    .section-services {
        display: grid;
        grid-template-columns: 1fr;
    }
    .section-services-image {
        display: none;
    }
    .section-services-content {
        margin-inline: auto;
        background: none;
    }
    .section-services-content-heading,
    .section-services-content-info {
        text-align: center;
    }
    progress {
        margin-right: 0;
    }
    label {
        width: 60%;
    }
    span {
        width: 40%;
        text-align: right;
    }
}
/* 450 */
@media (max-width: 27.5em) {
    .section-hero {
        padding: 10rem 3rem;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        background-image: linear-gradient(
                to bottom,
                rgba(245, 246, 252, 0.52),
                var(--gradient-start)
            ),
            url("./images/hero.jpg");
        background-size: cover;
        color: var(--neutral-light);
    }
    .section-hero-content-info {
        font-size: 1.8rem;
        margin: 3rem auto;
        padding-right: 2rem;
        max-width: 50rem;
    }
    .section-hero-image {
        display: none;
    }
    .portfolio-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}
